*{
    border: 0;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(41, 41, 41);
}
#vrs{
    
  border: 2px solid rgba(164, 177, 189, 0.89);
  color: rgb(219, 255, 255);
  background-color: rgba(255, 245, 218, 0.253);
  width: 120px;
  padding: 4px 25px 4px 20px;
  
}
#Ur{
    background-color: aliceblue;
    transform-style: preserve-3d;
    border: 2px solid blueviolet;
    height: 30px;
    width: 300px;    
    border-radius: 5px;
}
#botao{
    color: rgb(0, 0, 0);
    transform-style: preserve-3d;
    font-weight: bold;
    font-size: 14px;
    background-color: aliceblue;
    border: 3px solid rgb(29, 204, 235);
    padding: 4px;
    border-radius: 5px;
}
#botao:hover{
    background-color: rgb(238, 231, 252);
    border-color: blueviolet;
}